@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  overflow: auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
